:root {
    --preto: #282A36;
    --cinza: #44475A;
    --branco: #F8F8F2;
    --azul: #6272A4;
    --ciano: #8BE9FD;
    --verde: #50FA7B;
    --laranja: #FFB86C;
    --rosa: #FF79C6;
    --roxo: #BD93F9;
    --vermelho: #FF5555;
    --amarelo: #F1FA8C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-image: linear-gradient(340deg, #282A36, #44475A, #FFB86C);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculadora {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--preto);
}

.trocarTema {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--branco);
    cursor: pointer;
    z-index: 1;
}

.trocarTema.ativo {
    color: var(--preto);
}

.trocarTema.ativo::before {
    background-color: var(--branco);
}

.trocarTema::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #282A36;
    z-index: -1;
}

#visor {
    margin: 0 10px;
    height: 100px;
    width: auto;
    max-width: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 35px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    overflow: auto;
    padding: 20px 30px;
}

#visor::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 75px;
    width: 75px;
    border: 0;
    border-radius: 18px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#soma {
    height: 160px;
}

button#clear {
    width: 160px;
}

/* Tema Claro */

.calculadora {
    background-color: rgba(248, 248, 242, 0.80);
}

.calculadora #icone {
    background-image: image("./asset");
}

.calculadora #visor {
    background-color: rgba(248, 248, 242, 0.65);
    color: var(--preto);
}

.calculadora button#clear {
    background-color: var(--vermelho);
    color: var(--branco);
}

.calculadora button#igual {
    background-color: var(--verde);
    color: var(--preto);
}

.calculadora button#soma {
    background-color: var(--rosa);
    color: var(--preto);
}

.calculadora button.numero {
    background-color: var(--branco);
    color: var(--preto);
}

.calculadora button.operador {
    background-color: var(--amarelo);
    color: var(--preto);
}

/* Tema Escuro */

.calculadora.escuro {
    background-color: rgba(40, 42, 54, 0.65);
}

.calculadora.escuro #visor {
    background-color: rgba(40, 42, 54, 0.65);
    color: var(--laranja);
}

.calculadora.escuro button#clear {
    background-color: var(--vermelho);
    color: var(--branco);
}

.calculadora.escuro button#igual {
    background-color: var(--verde);
    color: var(--preto);
}

.calculadora.escuro button#soma {
    background-color: var(--rosa);
    color: var(--branco);
}

.calculadora.escuro button.numero {
    background-color: var(--preto);
    color: var(--laranja);
}

.calculadora.escuro button.operador {
    background-color: var(--roxo);
    color: var(--branco);
}

.titulo {
    align-items: center;
    color: #F8F8F2;
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    margin: 15px;
}

.nome {
    align-items: center;
    color: #F8F8F2;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    margin: 15px;
}