:root {
    --fundo: #353740;
    --fonte: #FFB86C;
    --sombra: #FFB86C;
    --botao: #282A36;
    --visor: rgba(40, 42, 54, 0.65);
    --calculadora: rgba(67, 69, 82, 0.65);
    --igual: #50FA7B;
    --soma: #FF79C6;
    --operador: #BD93F9;
    --clear: #FF5555;
    --digito: #F8F8F2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    background-color: var(--fundo);
    color: var(--fonte);
    font-family: 'JetBrains Mono', monospace;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

#calculadora {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--sombra);
    background-color: var(--calculadora);
}

#visor {
    background-color: var(--visor);
    color: var(--fonte);
    margin: 0 10px;
    height: 100px;
    width: auto;
    max-width: 326px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 35px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    overflow: auto;
    padding: 20px 30px;
}

#visor::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 75px;
    width: 75px;
    border: 0;
    border-radius: 18px;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: all 200ms ease;
}

#trocarTema {
    position: absolute;
    top: 2%;
    right: 20px;
    display: block;
    width: 128px;
    height: 64px;
    background: var(--fundo);
    transition: 0.5s;
    border-radius: 160px;
    box-shadow: 0 0 12px black;
}

#trocarTema .indicador {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background: linear-gradient(to bottom, #4e505a, #282A36);
    border-radius: 50%;
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: 0 0 12px var(--sombra);
    transition: 0.5s;
    background-image: url(../assets/claro.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

#trocarTema.ativo .indicador {
    left: 64px;
    background: #F8F8F2;
    box-shadow: 0 0 12 rgba(0, 0, 0, 0.5);
    background-image: url(../assets/escuro.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

#trocarTema.ativo {
    background-color: var(--fundo);
}

button:hover {
    transform: scale(1.1);
}

button#soma {
    height: 160px;
}

button#clear {
    width: 160px;
}

.titulo {
    align-items: center;
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    margin: 15px;
    transition: 0.1s ease;
    color: var(--fonte);
}

.nome {
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    margin: 15px;
    transition: 0.2s ease;
    color: var(--fonte);
}

button#clear {
    background-color: var(--clear);
    color: #F8F8F2;
}

button#igual {
    background-color: var(--igual);
    color: #282A36;
}

button#soma {
    background-color: var(--soma);
    color: #282A36;
}

button.numero {
    background-color: var(--botao);
    color: var(--fonte);
}

button.operador {
    background-color: var(--operador);
    color: var(--digito);
}